@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
* input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0.2rem solid #218839;
}

body {
  background-color: #f7f7f7;
}

header {
  width: 100%;
  height: 7rem;
  background-color: #28a745;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 50%;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.buscar input {
  width: 50rem;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 20px;
  font-size: 1.5rem;
}

/* Login buttons */
.login button {
  background-color: #36c959;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.login button:hover {
  background-color: #218839;
}

main {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #28a745;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

fieldset legend,
p,
label,
input,
select {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 20px;
}

fieldset select option {
  font-size: 1.5rem;
}

fieldset legend {
  font-weight: bold;
}

fieldset input,
select {
  border: 1px solid #28a745;
}

.main-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.info-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.info input,
select {
  width: 30rem;
}

.genero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.genero-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.genero-info input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
}

.imagen input[type="file"] {
  width: 30rem;
  gap: 1rem;
}

.info-gustos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.gustos-usuario {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
}

.gustos-separador {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gusto {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.gusto input[type="checkbox"] {
  outline: none;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 2.5rem;
}

.send-button button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
